<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content> -->


<ion-header>
  <ion-toolbar>
    <ion-title>
      SHAPE DETAILS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card"  *ngIf ="authenticated != true">
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
          <ion-card-title>Welcome to Shapes</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>A shape is the form of an object or its external boundary, outline, or external surface, as opposed to other properties such as color, texture or material type. It is called Aakriti in hindi language.</p>
          <ion-button margin-top (click)="signIn()" *ngIf="!authenticated">Login</ion-button>
        </ion-card-content>
      </ion-card>
    
    
      <ion-card class="welcome-card"  *ngIf ="authenticated">
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
          <ion-card-title> Square Shape Details</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>In geometry, a square is a regular quadrilateral, which means that it has four equal sides and four equal angles (90-degree angles, or (100-gradian angles or right angles).[1] It can also be defined as a rectangle in which two adjacent sides have equal length. A square with vertices ABCD would be denoted square  ABCD</p>
    
        </ion-card-content>
      </ion-card>
  <ion-card *ngIf="authenticated">
    <ion-card-header>

      <ion-button (click)="signOut()">Sign Out</ion-button>
    </ion-card-header>


  </ion-card>
</ion-content>